@import "bootstrap/scss/bootstrap";

body {
  font-family: "trebuchet MS", Helvetica, sans-serif;
  background: #184d47;
}

ul {
  list-style-type: none;
}

h1 {
  color: #fff;
  text-align: center;
}

p {
  color: #fff;
  font-size: 18px;
  font-weight: 25px;
}

a {
  color: #fff;
  font-size: 20px;
}

a:hover {
  cursor: pointer;
  color: #fff;
}



.container {
  width: 720px;
  height: 500px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 120px;
}

.title {
  color: #fff;
  text-align: center;
  padding: 40px;
}

.buttons {
  display: flex;
  justify-content: space-around;

}



